<ion-content>
  <section class="banner_1">
    <div class="titulo">
      <p>¿Cómo funciona?</p>
    </div>
    <div class="description">
      <p>Muy fácil, tú pides, nostros lo cocinamos
        y te lo llevamos dónde y cuándo quieras.</p>
    </div>
    <ion-segment mode="ios" (ionChange)="segmentChanged($event)" value="option1">
      <ion-segment-button class="ion-padding" value="option1" layout="icon-top">
        <p>Pide online<br> lo que <br>quieras comer.</p>
        <ion-icon color="oliva" name="phone-portrait-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="option2" layout="icon-top">
        <p>Lo entregamos<br> a<br> medio día.</p>
        <ion-icon color="oliva" name="speedometer-outline"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="option3" layout="icon-top">
        <p>Calentar 2 min<br> en el micro<br> y listo.</p>
        <ion-icon color="oliva" name="flame-outline"></ion-icon>
      </ion-segment-button>
    </ion-segment>

    <div [ngSwitch]="selectedSegment" class="segment">
      <div class="description_2" *ngSwitchCase="'option1'">

        <p> <ion-icon class="icon_description" color="oliva" name="desktop-outline"></ion-icon><b>Pide online qué
            quieres comer.</b>
          Puedes pedir por nuestra WEB o APP.</p>
        <br>
        <p><ion-icon class="icon_description" color="oliva" name="person-outline"></ion-icon><b>Regístrate con tu cuenta
            de empresa.</b>
          Si tienes un acuerdo con tu empresa regístrate con tu email
          corporativo para disfrutar de las condiciones especiales.
          Con cuentas corporativas la entrega se realizará
          en la oficina/edificios acordados.</p>
        <br>
        <p><ion-icon class="icon_description" color="oliva" name="timer-outline"></ion-icon><b>¡Acuerdate de pedir a
            tiempo!.</b>
          Haz tu pedido antes de las 11h del mismo día. Si tienes un acuerdo con tu empresa, infórmate de las
          restricciones horarias. Franjas horarias: 10.00 / 10.30 / 11.00h
          Programa tu pedido para toda la semana y así no te olvidas.</p>
      </div>
      <div class="description_2" *ngSwitchCase="'option2'">
        <p> <ion-icon class="icon_description" color="oliva" name="business-outline"></ion-icon>
          <b>Entrega en Oficina.</b> Si tienes un acuerdo con tu empresa, infórmate de las condiciones, generalmente te
          beneficiaras de gastos de delivery 0€.
        </p>
        <br>
        <p><ion-icon class="icon_description" color="oliva" name="home-outline"></ion-icon><b>Entrega en casa.</b> En La
          Aparcería estamos especializados en entregas en oficinas. Sin embargo, la entrega a domicilio va con gastos de
          delivery
          de 0.95-5.95€. En función del código postal. Consulta <a href="">aquí.</a> Esto se debe a que los costes de
          envío son mayores al no ser una ruta fija.</p><br>
        <p><ion-icon class="icon_description" color="oliva" name="person-outline"></ion-icon><b>Regístrate con tu cuenta
            de empresa.</b>
          Si tienes un acuerdo con tu empresa regístrate con tu email corporativo para disfrutar de las condiciones
          especiales.
          Con cuentas corporativas la entrega se realizará en la oficina/edificios acordados.</p>
        <br>
        <p><ion-icon class="icon_description" color="oliva" name="timer-outline"></ion-icon><b>¿Cuándo Lo Vas a
            Recibir?</b></p><br>
        <p><ion-icon class="icon_description" color="oliva" name="business-outline"></ion-icon> <b>Entrega en
            Oficina.</b>
          Si tienes un acuerdo con tu empresa, infórmate del horario acordado. Generalmente se entregará entre las 12.30
          - 13.30h.</p><br>

        <p><ion-icon class="icon_description" color="oliva" name="home-outline"></ion-icon><b>Entrega en casa.</b> La
          entrega a domicilio es de 13.00h - 14.30h.</p>
      </div>
      <div *ngSwitchCase="'option3'" class="description_2">
        <p><ion-icon class="icon_description" color="oliva" name="restaurant-outline"></ion-icon><b>Cocinamos a diario
            sin conservantes ni aditivos.</b></p><br>
        <p><ion-icon class="icon_description" color="oliva" name="thermometer-outline"></ion-icon><b>Para cumplir con
            los protocolos de seguridad alimentaria, bajamos la temperatura de la comida rápidamente en un abatidor.</b>
        </p><br>
        <p><ion-icon class="icon_description" color="oliva" name="bicycle-outline"></ion-icon><b>¡Lo transportamos en
            frío hasta que llega a tu oficina!.</b></p>
      </div>
    </div>

  </section>
  <ion-grid>
    <section class="banner_2">
      <div class="banner_2_margen">
        <div class="banner_2_titulo">
          <p>Formatos</p>
        </div>
        <div class="description">
          <p>En La Aparcería existen dos formatos de menú.</p>
        </div>

        <ion-row>
          <ion-col class="col_a" size="12" size-lg="6" size-md="12" size-sm="12" size-xs="12">
            <ion-card class="cards" mode="md">
              <img src="/assets/platos/menuCompleto.png" alt="">
              <ion-card-header>
                <ion-card-title>Menú completo</ion-card-title>
                <ion-card-subtitle>Incluye un primero, segundo y postre</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>Este menú es para ti si te apetece un menú de lo más completo y equilibrado.
                Además de poder elegir entre una gran variedad de platos,
                si eres fan del dulce, date un capricho y prueba uno de nuestros cakes artesanales,
                ¡te van a encantar!.</ion-card-content>
            </ion-card>
          </ion-col>

          <ion-col class="col_b" size="12" size-lg="6" size-md="12" size-sm="12" size-xs="12">
            <ion-card class="cards" mode="md">
              <img src="/assets/platos/medioMenu.png" alt="">
              <ion-card-header>
                <ion-card-title>Medio menú</ion-card-title>
                <ion-card-subtitle>Incluye un plato a elegir de entre toda nuestra carta y un
                  postre.</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>¿Buscas un menú más ligero y eres de los que te gusta acabar siempre con alguno dulce?
                ¡Este es para ti!.</ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>

      </div>
    </section>
    <section class="banner_3">
      <div class="titulo">
        <p>Cosas prácticas que necesitas saber</p>
      </div>
      <ion-accordion-group mode="md" expand="inset">
        <ion-accordion value="first" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              Pedidos
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>Puedes pedir por nuestra Web o APP. Si tienes un acuerdo con tu empresa regístrate con tu email
              corporativo para disfrutar de las condiciones especiales. Acuérdate de pedir antes de las 11h del mismo
              día o bien planifica tu pedido para toda la semana.
              Si tienes un acuerdo con tu empresa, infórmate de las restricciones horarias. Franjas horarias: 10.00 /
              10.15 / 10.30 / 11.00h.</p>
          </div>
        </ion-accordion>
        <ion-accordion value="second" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              Entrega
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>Para cuentas corporativas, repartimos de lunes a viernes en toda el área metropolitana de Málaga y
              alrededores (Torremolinos, Cartama, Rincon de la Victoria). En el caso de estar ubicado en alrededores de Málaga
              escríbenos y miraremos de poder facilitaros el servicio.
              Si tienes un acuerdo con tu empresa infórmate del horario de entrega acordado. Generalmente se entregará
              entre las 12:30-13:30h.
              La entrega a domicilio es de 13:00-14:30h</p>
          </div>
        </ion-accordion>
        <ion-accordion value="third" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>Forma de pago</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">Con tarjeta de crédito en pedidos online (Visa, Mastercard, Ticket
            Restaurant). No aceptamos dinero en efectivo.
            Además puedes recordar la tarjeta en tu perfil para mayor comodidad en futuras compras.
            Recuerda que debido a la nueva ley PSD2 antifraude online deberás disponer de identificación de tu teléfono
            móvil en tus tarjetas ticket restaurant para poder validar la compra la primera vez. Una vez guardada,
            puedes pagar recurrentemente sin validar cada compra.
            También encontrarás la funcionalidad de WALLET, (para empresas que así lo desean), que te permitirá agregar
            dinero a un monedero virtual para utilizarlo el día que prefieras.</div>
        </ion-accordion>
        <ion-accordion value="fourth" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>Alergias o intolerancias</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>A pesar de no contener los alérgenos mencionados en cada plato, nuestros platos no están libres de
              trazas. En la página de cada plato indicamos todos los ingredientes y alergenos, lee esta información con
              cuidado, cualquier duda adicional contacta con nosotros.</p>
          </div>
        </ion-accordion>
        <ion-accordion value="fifth" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              Calentar el plato
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>Cocinamos a diario sin conservantes ni aditivos. Para cumplir con los protocolos de seguridad alimentaria
              bajamos la temperatura de la comida rápidamente en un abatidor y lo transportamos adecuadamente para
              mantener la cadena de frio.
              Es por ello que los platos debes calentarlos en el micro.</p>
          </div>
        </ion-accordion>
        <ion-accordion value="sixth" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              Incidencias
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>Faltaban productos en el pedido o contenía productos diferentes, problema de entrega del pedido o si mis
              platos han llegado en mal estado o sin la calidad esperada.
              En La Aparcería somos un equipo de personas y también nos equivocamos, contáctanos para que busquemos la
              mejor solución.
              Llámanos al xx xxx xx xx de lunes a viernes de 8.45h a 14.45h.

            </p>
          </div>
        </ion-accordion>
        <ion-accordion value="seven" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              Vales descuento
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>Tan sólo tienes que indicar el código en el primer paso del proceso de tramitación de tu pedido, en la
              casilla TIENE UN CÓDIGO PROMOCIONAL que tienes en el carrito. Una vez introducido, el descuento se
              aplicará automáticamente en tu pedido.

            </p>
          </div>
        </ion-accordion>
        <ion-accordion value="eight" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              Planificacón de pedidos
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>Te informamos que en el 'paso de Resumen' después de tu añadir tus platos, dispones del botón 'Planifica
              o añade más productos' que te permite planificar tus compras. Si eliges otro día en el selector de días
              puedes comprar tus 'menus' para otro día y así en 'un mismo pedido' puedes planificar tus menús para toda
              la semana. No necesitas hacer 'un pedido' cada día para comprar todos tus menús semanales.
            </p>
          </div>
        </ion-accordion>
        <ion-accordion value="nine" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              Fidelización
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>Nos gusta premiar a nuestros mejores clientes. Por cada CICLO de 10 subpedidos (para que lo entiendas
              cuando decimos subpedidos es que si compras varios menús en un mismo pedido, te los contamos todos), 11 a
              partir del segundo ciclo, es decir en los subpedidos 10, 21, 32, 42, 53... recibirás en tu cuenta de
              cliente, apartado VALES y también visible en tu próximo carrito, un cupón de fidelización, con una validez
              de 30 días, que tendrás que aplicar en tu próximo pedido.
              Este cupón también será visible en el email de confirmacion de pedido de tu subpedido con Regalo. También
              te avisamos cuando estés cerca de recibir este cupón de fidelización con un email recodándote cuantos
              subpedidos te quedan para llegar a este cupón de Regalo. El total de descuento será la media de tus
              últimos pedidos.
              Es un cupón automático, seguro que lo vas a recibir si eres fiel a La Aparcería.

            </p>
          </div>
        </ion-accordion>
      </ion-accordion-group>
      <br>
      
    </section>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>