<ion-footer>
  <div class=container>
    <ion-row class="row_a">
      <ion-col>
        <ion-row>
          <img class="logo" src="/assets/fondos/Logo-trans.png" alt="">
        </ion-row>

        <ion-row>
          <div class="redes">
            <ion-button fill="clear">
              <ion-icon name="logo-instagram" size="large" color="beige"></ion-icon>
            </ion-button>
            <ion-button fill="clear">
              <ion-icon name="logo-linkedin" size="large" color="beige"></ion-icon>
            </ion-button>
            <ion-button fill="clear">
              <ion-icon name="logo-facebook" size="large" color="beige"></ion-icon>
            </ion-button>

          </div>
        </ion-row>

      </ion-col>
      <ion-col>
        <ion-row>
          <h3>Sobre La Aparcería</h3>
        </ion-row>
        <ion-row><a href="/tabs/how">¿Cómo funciona?</a></ion-row>
        <ion-row><a href="/tabs/faq">FAQ</a></ion-row>
        <ion-row><a href="/tabs/who">Por qué La Aparcería</a></ion-row>
        <ion-row><a href="/tabs/business">La Aparcería empresas</a></ion-row>
        <ion-row><a href="#">Nutrición</a></ion-row>

      </ion-col>
      <ion-col>
        <ion-row>
          <h3>Información</h3>
        </ion-row>
        <ion-row><a href="#">Social media y prensa</a></ion-row>
        <ion-row><a href="#">Blog</a></ion-row>
        <ion-row><a href="#">Códigos postales</a></ion-row>
        <ion-row><a href="#">Contacto</a></ion-row>
        <ion-row><a href="#">Aviso legal y politica<br>de privacidad</a></ion-row>

      </ion-col>
      <ion-col>
        <ion-row>
          <h3>Newsletter</h3>
        </ion-row>
        <ion-row>
          <ion-input color="beige" inputmode="email" label-placement="floating" placeholder="email"
            label="Introduce aquí tu e-mail" pattern="email" shape="round" class="custom">
            <ion-button slot="end" fill="clear" color="beige">
              <ion-icon name="send"></ion-icon>
            </ion-button>
          </ion-input>


        </ion-row>
        <ion-row class="baja">
          Puede darse de baja en cualquier momento. Encontrará<br> nuestra información de contacto en el aviso legal.
        </ion-row>
        <ion-row class="baja">
          <ion-checkbox color="oliva" labelPlacement="end">Acepto las condiciones generales y el <a
              href="/order"><i>aviso legal.</i></a></ion-checkbox>
        </ion-row>
        <ion-row>
          <ion-col><img class="pagos" src="/assets/icon/visa.png" alt=""></ion-col>
          <ion-col><img class="pagos" src="/assets/icon/visa.png" alt=""></ion-col>
          <ion-col><img class="pagos" src="/assets/icon/visa.png" alt=""></ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="row_b">
      <ion-col>
        <p>Copyright © La Aparcería.</p>
      </ion-col>
      <ion-col>
        <a href="#">Condiciones de uso</a>
      </ion-col>
      <ion-col>
        <a href="#">Aviso legal y politica de privacidad</a>
      </ion-col>
      <ion-col>
        <a href="#">Politica de cookies</a>
      </ion-col>

    </ion-row>
  </div>

</ion-footer>