<ion-content>
  <ion-grid>
    <section class="banner_2">
      <p class="banner_2_titulo2">
        La Aparcería empresa
      </p>
      <ion-row>
        <ion-col class="col_a" size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12">
          <ion-card class="banner_2_card">
            <p class="banner_2_titulo">
              Salud en la Oficina
            </p>

            <ion-card-content>
              La jornada laboral es larga ¿Quién tiene tiempo de prepararse un tupper para la
              oficina? Ofrecer un servicio de cantina digital con comida saludable y buena cada día es un beneficio que
              tus trabajadores agradecerán. Mejora la satisfacción, productividad y bienestar general de tus empleados.
              El
              mejor beneficio para tus empleados.

              La Aparcería es tu partner de comida saludable en la oficina. Nuestra cantina digital mejora el día a día
              de tus empleados construyendo un entorno laboral más saludable y sostenible. Cocinamos con producto fresco
              y
              de proximidad, asegurándonos entregarte un menú de calidad.
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col class="col_b" size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12">
          <img src="assets/img/salud_ofi.png" alt="">
        </ion-col>

      </ion-row>

    </section>
    <div class="banner_3_color">
      <section class="banner_3">
        <ion-row>
          <ion-col class="banner_3_col" size="12" size-lg="3" size-md="6" size-sm="6" size-xs="6">
            <h1 class="banner_3_numbers">72%</h1>
            <ion-row>
              <p class="banner_3_description">De los trabajadores, come fuera la oficina</p>
            </ion-row>
          </ion-col>
          <ion-col class="banner_3_col" size="12" size-lg="3" size-md="6" size-sm="6" size-xs="6">
            <h1 class="banner_3_numbers">90%</h1>
            <ion-row>
              <p class="banner_3_description">Prefiere La Aparcería como proveedor local</p>
            </ion-row>
          </ion-col>
          <ion-col class="banner_3_col" size="12" size-lg="3" size-md="6" size-sm="6" size-xs="6">
            <h1 class="banner_3_numbers">91%</h1>
            <ion-row>
              <p class="banner_3_description">Son felices si tienen comida en el trabajo</p>
            </ion-row>
          </ion-col>
          <ion-col class="banner_3_col" size="12" size-lg="3" size-md="6" size-sm="6" size-xs="6">
            <h1 class="banner_3_numbers">81%</h1>
            <ion-row>
              <p class="banner_3_description">Elige una oferta con benefits adicionales</p>
            </ion-row>
          </ion-col>
        </ion-row>
      </section>
    </div>
    <section class="banner_4">
      <p class="banner_4_titulo">Menús equilibrados con ingredientes frescos y saludables</p>
      <p class="banner_4_sub">Creemos que la clave para un estilo de vida saludable está en tener una dieta equilibrada
        Nuestros menús están diseñados para que puedas comer variado todos los días.</p>
      <ion-row>
        <ion-col size="12" size-lg="4" size-md="4" size-sm="4" size-xs="12">
          <p class="banner_4_des"><b> Nuestros menús tiene un balance nutritivo</b>

          </p>
          <ion-row class="pad">
            <p>Proteina</p>
            <ion-button class="banner_4_button" shape="round" size="small" color="oliva">
              <ion-icon slot="icon-only" class="banner_4_button" name="add"></ion-icon>
            </ion-button>

          </ion-row>
          <ion-row class="pad">
            <p>Carbohidratos complejos</p>
            <ion-button shape="round" size="small" color="oliva">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>

          </ion-row>
          <ion-row class="pad">
            <p>Frutas y vegetales</p>
            <ion-button shape="round" size="small" color="oliva">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>

          </ion-row>
          <ion-row class="pad">
            <p>Frutos secos y semillas</p>
            <ion-button shape="round" size="small" color="oliva">
              <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>

          </ion-row>
        </ion-col>
        <ion-col>
          <img src="assets/img/menus_equili.png" alt="">
        </ion-col>
        <ion-col>
          <p class="banner_4_des">
            <b>Y minimiza el uso de:</b>
          </p>
          <ion-row class="pad">

            <ion-button shape="round" size="small" color="oliva">
              <ion-icon slot="icon-only" name="remove"></ion-icon>
            </ion-button>
            <p>Azúcares y granos refinados</p>
          </ion-row>
          <ion-row class="pad">
            <ion-button shape="round" size="small" color="oliva">
              <ion-icon slot="icon-only" name="remove"></ion-icon>
            </ion-button>
            <p> Aceites inflamatorios</p>
          </ion-row>
          <ion-row class="pad">
            <ion-button shape="round" size="small" color="oliva">
              <ion-icon slot="icon-only" name="remove"></ion-icon>
            </ion-button>
            <p> Sin conservantes</p>
          </ion-row>



        </ion-col>
      </ion-row>
    </section>
    <div class="banner_4_color">

      <section class="banner_4">

        <p class="banner_4_titulo">
          Beneficios de incorporar el servicio de cantina digital
        </p>
        <p class="banner_4_sub">Comida para empresas. Delivery de platos cocinados por nuestros chefs y entregados en la
          oficina. La forma más
          fácil de cuidar a tus trabajadores.</p>
        <ion-row>
          <ion-col *ngFor="let tarjeta of banner_4_tarjeta" class="tarjeta" size="12" size-lg="3" size-md="6"
            size-sm="6" size-xs="12">
            <div class="iconos_centrados">
              <img class="moto" [src]="tarjeta.img" [alt]="">
              <div class="titulo">
                <p></p>
              </div>
            </div>
            <div class="content">
              <p>{{ tarjeta.descripcion }}</p>
            </div>
          </ion-col>
        </ion-row>
      </section>
    </div>
    <div class="banner_5_color">
      <section class="banner_5">
        <ion-row>
          <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <img class="logo" src="/assets/fondos/Logo-trans.png" alt="">
            <p class="banner_5_titulo">
              Pide una reunión con nuestro equipo comercial
            </p>
            <div class="banner_5_des">
              <p>Cantina virtual, corner de desayunos en la empresa, cantina física...
                y comida buenísima. ¡somos tú proveedor! :)</p>
            </div>
          </ion-col>
          <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12">
            <div class="banner_5_img">
              <img src="/assets/platos/plato-carne-papa-escritorio-madera.png" alt="">
            </div>
          </ion-col>

        </ion-row>

      </section>
    </div>



    <section class="banner_6">
      <div class="banner_6_titulo">
        <p>Preguntas frecuentes</p>
      </div>
      <ion-accordion-group mode="md" expand="inset">
        <ion-accordion value="first" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              ¿Se puede pagar con tarjeta ticket restaurant?
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>Aceptamos varias formas de pago para realizar la compra de tus menús diarios: tarjeta de crédito o débito
              (se puede realizar el pago de manera inmediata a través de la pasarela de pago seguro de nuestro banco. En
              caso necesario de devolución o cancelación del pedido, el importe se reembolsará a través de la misma
              tarjeta utilizada). También aceptamos tickets restaurante, Sodexo, Gourmet y tarjeta de beneficios Cobee.
              Otra opción existente es el pago por empresa, dependiendo del acuerdo que haya entre la entidad
              colaboradora y nosotros. La cantina digital Nora está pensada para hacerte el día a día más fácil, ni una
              complicación!.</p>
          </div>
        </ion-accordion>
        <ion-accordion value="second" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              ¿Tenemos precios especiales y transporte gratuito si pactamos con vosotros?
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>Sí, efectivamente ofrecemos acuerdos especiales de cantina digital para empresas con precios más
              ventajosos y transporte gratuito. Nuestro equipo te asesorará en base al modelo de beneficios que tengáis
              sobre la comida, no dudes en solicitar información desde nuestro formulario para empresas.</p>
          </div>
        </ion-accordion>
        <ion-accordion value="third" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>¿Puedo subvencionar una parte de la comida con mis empleados?</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">Sí! Trabajamos con muchas empresas e intentamos adaptar nuestra oferta
            a cada una de ellas. Tenemos dos modelos de negocio; subvención total o parcial (B2B) y uso de tickets
            restaurantes (B2B2C). Subencionar una parte de la comida es un beneficio que tus trabajadores agradecerán.
            Se sienten cuidados al tener un menú bueno y saludable cada día en la oficina. Empresas con las que tenemos
            acuerdo suelen subvencionar parte de la cantina digital por tal mejorar el bienestar de todos los
            trabajadores, ya que es el salario emocional mejor valorado.</div>
        </ion-accordion>
        <ion-accordion value="fourth" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>¿Podemos descontar de nómina el beneficio de la comida de nuestros trabajadoras?</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>Sí, sin problema. Muchos de nuestros colaboradores quieren facilitar y maximizar la experiencia en la
              oficina al trabajador. Es por eso que facilitan a través de la comida el uso diario de la cantina digital
              Nora. Desde nuestro departamento de finanzas os enviamos al detalle todos los consumos para que no tengan
              que calcular nada, todo lo hacemos nosotros.</p>
          </div>
        </ion-accordion>
        <ion-accordion value="fifth" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              ¿A partir de que horario entregais la comida?
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>El funcionamiento del servicio de cantina digital es muy sencillo. Pide online a través de nuestra APP o
              web antes de las 11h (empresas fuera de Málaga antes de las 10h). Preparan tu pedido en las cocinas
              centrales en La Aparcería. Se entrega a tu oficina entre las 13h y las 14h.</p>
          </div>
        </ion-accordion>
        <ion-accordion value="sixth" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              ¿Teneis recetas para vegetarianos, veganos, gluten free?
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>Claro! Nuestra propuesta gastronómica se basa en una carta semanal. Esta está compuesta de primeros
              (cremas, ensaladas, pastas, lasañas, platos de cuchara...), segundos (pollo, pavo, ternera, cerdo,
              pescados...) y postres (fruta, yogures, pasteles...). Apostamos por una comida casera apta para todos:
              vegetarianos, veganos y celíacos. Nuestros menús están pensados para cuidar-te: comida saludable, variada
              y buenísima.
            </p>
          </div>
        </ion-accordion>
        <ion-accordion value="seven" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              ¿Cada cuanto cambiais el menú?
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>Cada semana. Tenemos una carta semanal fija con más de 30 menús saludables diferentes. Tenemos 4 cartas
              rotativas, de manera que podías pasarte un mes entero sin repetir ni un plato! Funcionamos por temporadas,
              adaptando todos los menús de la cantina digital al producto fresco del mercado.
            </p>
          </div>
        </ion-accordion>
        <ion-accordion value="eight" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              ¿Cuantas referencias teneis semanales?
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>Más de 30 menús saludables diferentes. El core de nuestro negocio es el producto, es por eso que cuidamos
              todos los detalles de nuestros menús. Nuestra oferta es equilibrada (cremas vegetales, ensaladas,
              legumbres, plancha...), tradicional (macarrones, albóndigas, estofados...), mediterránea (gazpachos,
              pulpo, paella...), internacional (curry, teriyaki, pizza, tacos, sushi, wok...) y apta para vegetarianos y
              veganos (hamburguesas veganas, falafel, heura, bowls, ensaladas...).
            </p>
          </div>
        </ion-accordion>
        <ion-accordion value="nine" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              ¿Precios de los menús?
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>Nuestra orquilla de precios tiene un gran abanico de variedad para todos los bolsillos, que adaptamos
              según el modelo retributivo y beneficios que tengáis implementado. Pregunta por nuestros precios La
              Aparcería
              Gourmet (subvencionados por la empresa) o La Aparcería Foodies (tickets restaurante u otros).

            </p>
          </div>
        </ion-accordion>
        <ion-accordion value="ten" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              ¿Los envases de pueden tirar todos a la orgánica?
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>Sí! Usamos envases 100% compostables y tapa PLA. En La Aparcería evitamos plásticos de un solo uso y
              creemos en
              la economía circular, es por eso que te entregamos el menú diario con bolsas de papel reutilizables (3
              usos). Además, apostamos por un modelo de cantina digital innovador y sostenible, así que solo hace falta
              el teléfono móvil para pedir tu menú diario.

            </p>
          </div>
        </ion-accordion>
        <ion-accordion value="eleven" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              ¿Por qué el beneficio de la comida es tan importante?
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>El 91% de los trabajadores van contentos a trabajar si saben que pueden disfrutar de una buena comida en
              la oficina. Facilitar el servicio de cantina digital a tus trabajadores no solo incentivará la
              presencialidad a la oficina sinó que también reducirá la tasa de rotación, ya que tus trabajadores se
              sentirán cuidados. La subvención de la cantina digital actúa como incentivo, no es un gasto sinó una
              inversión para mejorar el bienestar general de toda la oficina.

            </p>
          </div>
        </ion-accordion>
        <ion-accordion value="twuelve" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              Quiero que mi empresa tenga vuestra cantina digital, ¿qué tengo que hacer?
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>
              Llámanos o rellena el formulario de registro para agendar una reunión. Junto a nuestro equipo comercial
              podrás valorar qué opción es más conveniente para la empresa.
            </p>
          </div>
        </ion-accordion>
        <ion-accordion value="forteen" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              ¿Cómo llegan los pedidos?
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>La Aparcería dispone de un equipo de drivers que se encargan de que los menús diarios de tu empresa te
              lleguen cada día a la oficina. El servicio de cantina digital es muy sencillo; sólo debes entrar a la
              página web o APP, elegir tu menú diario y pasarela de pago. Toda la comodidad desde tu móvil. ¡Tu comida
              saludable de La Aparcería a solo un click!

            </p>
          </div>
        </ion-accordion>
        <ion-accordion value="fifteen" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              ¿Viene caliente la comida?
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>No. Tu menú diario se emplata en nuestras cocinas la misma mañana. Lo ponemos en una bolsa de papel y lo
              guardamos directamente a una bolsa isotérmica para preservar la temperatura. De esta manera, tu comida
              llega en el mejor estado posible: comida saludable y con muchísimio gusto. Solo deberás meterlo en el
              microondas de tu oficina en caso que hayas elegido un plato caliente.

            </p>
          </div>
        </ion-accordion>
        <ion-accordion value="sixteen" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              ¿Podemos anular el pedidos el mismo día?, ¿o con cuánto tiempo de antelación?
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>Idealmente si nos avisas el día de antes, lo anularemos sin problema. Si esperas hasta último minuto,
              seguramente tu menú ya esté en proceso de envío. Mejor envía un correo al departamento de atención al
              cliente lo antes posible antes de las 9h y te lo intentarán anular.

            </p>
          </div>
        </ion-accordion>
        <ion-accordion value="seventeen" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              Alérgenos, ¿cómo sabesmo lo que podemos pedior o no?
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>El servicio de cantina digital está diseñado para ponértelo lo más fácil posible. En cada plato del menú
              diario encontrarás los alérgenos que contiene ese plato. También está incluido los valores nutricionales a
              parte de todos los ingredientes que contiene.

            </p>
          </div>
        </ion-accordion>
        <ion-accordion value="eighteen" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              ¿Precios de los menús?
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>Nuestra orquilla de precios tiene un gran abanico de variedad para todos los bolsillos, que adaptamos
              según el modelo retributivo y beneficios que tengáis implementado. Pregunta por nuestros precios La
              Aparcería
              Gourmet (subvencionados por la empresa) o La Aparcería Foodies (tickets restaurante u otros).

            </p>
          </div>
        </ion-accordion>
        <ion-accordion value="nineteen" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              ¿Podemos hablar con vosotros su nuesta empresa es flexible a nivel presencialidad?
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>No todos los días vamos a la oficina. Si se puede hablar cuantos días se quiere implementar el modelo de
              cantina digital, nos adaptamos a las características y necesidades de cada empresa. Dar este servicio
              subvencionado a los trabajadores incentiva la presencialidad a la oficina. Si buscáis pasar de un modelo
              híbrido 2 presencial + 3 remoto a uno de 3 presencial + 2 remoto, es un incentivo perfecto para tus
              empleados. Si los trabajadores saben que pueden disfrutar de una comida buena y saludable a la oficina, no
              dudarán en venir!

            </p>
          </div>
        </ion-accordion>
        <ion-accordion value="twenty" toggleIcon="caret-down-circle" toggleIconSlot="end">
          <ion-item slot="header">
            <ion-label>
              ¿Cómo puedo solventar cualquier incidencia en mi día a día con La Aparcería?
            </ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <p>Nuestro servicio de atención al cliente está pendiente de ti desde 8:30h-17:30h. Cualquier problema que
              te pueda surgir con la cantina digital te lo solucionamos. Puedes escribir a
              support la-aparcería o llamar a nuestro teléfono: 952 78 45 65.</p>


          </div>
        </ion-accordion>
      </ion-accordion-group>
      <br>

    </section>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>