<app-menu></app-menu>

<div class="container"><ion-tabs>

  <ion-tab-bar slot="bottom" color="primario">

    <ion-tab-button tab="home">   <!--esta es la ruta-->
      <ion-icon name="home-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="loggin">   <!--esta es la ruta-->
      <ion-icon name="person-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="order">   <!--esta es la ruta-->
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>

    <ion-tab-button tab="cart">   <!--esta es la ruta-->
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label></ion-label>
    </ion-tab-button>



  </ion-tab-bar>


</ion-tabs></div>