<ion-content>
  <ion-grid>
    <section class="banner_1">

      <ion-row>
        <img class=banner_1_img src="assets/img/cocineros3.png " alt="">
      </ion-row>
      <ion-row class="banner_1_titulo">
        <p>Comida sana, fresca y original. Comida de verdad.</p>
      </ion-row>
      <ion-row class="banner_1_des">
        <p>Nuestro estilo de vida nos deja pocos momentos de respiro, nos obliga a ir corriendo a todas partes. La falta
          de
          tiempo hace que no valoremos uno de los momentos mas importantes del día, el de la comida.
          Queremos que las personas vuelvan a disfrutar comiendo en la oficina. Por eso preparamos recetas buenas,
          bonitas
          y sanas y asequibles. Para que cada comida sea una experiencia enorme.</p>
      </ion-row>
    </section>


    <div class="banner_2_color">
      <section class="banner_2">
        <ion-row>
          <ion-col size="12" size-lg="4" size-md="4" size-sm="4" size-xs="12">
            <ion-card class="movil_2" mode="md">
              <img alt="Silhouette of mountains" src="assets/img/3tarros.jpg " />
              <ion-card-header>
                <ion-card-title>Menús equilibrados</ion-card-title>

              </ion-card-header>

              <ion-card-content>
                Nosotros te cuidamos. Lo más importante de una dieta es que sea equilibrada. Por eso, ofrecemos cada día
                un menú compuesto por
                platos con todos los diferentes macronutrientes: proteínas, carbohidratos y grasas, además de las
                vitaminas y minerales que necesita nuestro cuerpo para llevar a cabo el día con la máxima energía
                posible.
              </ion-card-content>
            </ion-card>
          </ion-col>



          <ion-col size="12" size-lg="4" size-md="4" size-sm="4" size-xs="12">
            <ion-card mode="md">
              <img alt="Silhouette of mountains" src="assets/img/paquetes.jpg" />
              <ion-card-header>
                <ion-card-title>Cuidamos el medio ambiente</ion-card-title>

              </ion-card-header>

              <ion-card-content>
                Ofrecemos producto de cercanía. El 74,4% de la materia prima es fresca, y de estos el 80,75% de nuestros
                proveedores son locales.

                Compramos nuestra carne a un ganadero la provincia Malagueña, el pescado viene de la costa del litoral
                Andaluz, y
                parte de la fruta y las verduras frescas de nuestra comuninda Andaluza.
                <li>Packaging 100% compostable</li>
                <li>Cocinamos bajo demanda</li>
                <li>Comedor social (cada semana, donamos todo nuestro excedente a varias fundaciones de Málaga).</li>
              </ion-card-content>
            </ion-card>
          </ion-col>



          <ion-col size="12" size-lg="4" size-md="4" size-sm="4" size-xs="12">
            <ion-card class="movil" mode="md">
              <img alt="Silhouette of mountains" src="assets/img/donar2.jpg" />
              <ion-card-header>
                <ion-card-title>Responsabilidad social</ion-card-title>
              </ion-card-header>

              <ion-card-content>
                La solidaridad y la inclusión social son una parte muy importante de la forma de entender nuestro
                proyecto y definen cómo lo llevamos a cabo. Todos los meses donamos los beneficios de plato solidario a
                diferentes organizaciones sin ánimo de lucro.
              </ion-card-content>
            </ion-card>
          </ion-col>



        </ion-row>
      </section>
    </div>
    <section class="banner_3" >
      <ion-row>
        <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12">
          <ion-row>
            <p class="banner_3_titulo">Equipo</p>
          </ion-row>
          <ion-row>
            <p class="banner_3_des">Creemos que alrededor de la mesa se crean experiencias increíbles y queremos darle importancia. En Nora,
              tenemos la misión de impulsar una comunidad más sana y conectar a la gente a través de la comida.
              Somos un equipo joven, diverso, dinámico y multidisciplinar que empleamos toda nuestra energía e ilusión
              para alegrar tu día a día en la oficina. Un pequeño proyecto y un gran equipo detrás.</p>
          </ion-row>
        </ion-col >
        <ion-col size="12" size-lg="6" size-md="6" size-sm="6" size-xs="12">
          <img src="assets/img/equipo.jpg" alt="">
        </ion-col>


      </ion-row>

    </section>

  </ion-grid>
<app-footer></app-footer>
</ion-content>
